.panel {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
}

.editor-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 20%;
}

.editor-submit {
    display: flex;
    justify-content: flex-end;
}

.editor-label {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.editor-brick {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 25px;
}
