.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-button {
    margin: 5px;
}

.issues-summary {
    display: none;
    position: absolute;
    color: white;
    padding: 5px;
    border-radius: 4px;
    z-index: 9999;
    height: 25px;
}

. .bot-brick {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
}

.bot-name {
    width: 150px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.menu {
    display: flex;
    flex-direction: row;
}

.login-field {
    margin-bottom: 2px;
}
